name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for provenance
  contents: write # Required for changesets/action
  pull-requests: write # Required for changesets/action

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npx corepack enable pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
